<h1>New York Times Articles</h1>
<ul>
  <% @headlines.each do |headline| %>
      <% @anchor = headline.at('a') %>
      <% if @anchor %>
      <li>
        <%= link_to @anchor.text, @anchor['href']  %>
      </li>
      <% end %>
  <% end %>
</ul>
