<h1>Problem Set 6</h1>

FEEDBACK: 

Review from Secretary:

Siriporn Nanthasing
Administrative Secretary
Computer Science & Information Management (CS&IM)
School of Engineering and Technology (SET).

The activity page could have little more information like name of the topic and name of the student. They found it is easy to use and helpful for them to schedule the meetings.

Review from Faculty:

Matthew N. Dailey
Computer Science & Information Management (CS&IM)
Asian Institute of Technology.

They found it is useful and suggested that google calender would be more efficient to use.


Action Plan :

WEB-9
The suggestion from Web 9 are really good. We found that they feel the students should have ability to make appointments themselves. According to our knowledge the secretary sends the registration form to the registrar and when they have the approval from registrar therfore the secretary has the deadline information, that's why we think only secretary should have the ability to create the activity and particular appointment. We also feel that the student should have the access, but to our knowledge it might not be good that the student have this privilage. 

WEB-7
As their suggestion is to have good navigation, we will take into consideration and implement the links to go back to the previous page.  We will also implement autocomplete for FOS field.  

