<h1>Problem Set 6</h1>

<h3>Evaluation</h3> 


<h4>Review from Secretary:</h4>

<br>Siriporn Nanthasing
<br>Administrative Secretary
<br>Computer Science & Information Management (CS&IM)
<br>School of Engineering and Technology (SET).

<br><br>The activity page could have little more information like name of the topic and name of the student. They found it is easy to use and helpful for them to schedule the meetings.

<br>----------------------------------------------------------------------------
<h4>Review from Faculty:</h4>

<br>Matthew N. Dailey
<br>Computer Science & Information Management (CS&IM)
<br>Asian Institute of Technology.

<br><br>They found it is useful and suggested that google calender would be more efficient to use.

<br>----------------------------------------------------------------------------
<h4>Reviews of WEB -9</h4>

<br>The data model is sufficient to serve the functionalities you have proposed.

<br>By using the AIT LDAP server for authentication, it makes authentication and authorization sensible.

<br>Look and feel of this application is neat. There is no suggestion to that. As we have checked so far, students can make appointments by sending form to the registrar and the secretary will then create the appointments for them. It will be great if this application is put into use for AIT students.


<h4>Our Action Plan :</h4>
The suggestion from Web 9 are really good. We found that they feel the students should have ability to make appointments themselves. According to our knowledge the secretary sends the registration form to the registrar and when they have the approval from registrar therfore the secretary has the deadline information, that's why we think only secretary should have the ability to create the activity and particular appointment. We also feel that the student should have the access, but to our knowledge it might not be good that the student have this privilage. 

<br>----------------------------------------------------------------------------
<h4>Reviews of WEB-7</h4>

<br>- Admin
Admin page : If the navbar is fix for every page,then it will be easier to navigate from every page.
<br> Student Registration : Auto complete might be a better option for field of study field in the form(For example: If the user type com it shows suggested option like Computer science and other fields related).

<br>- Your web page design feels good.

<br>- Authentication is working well.

<h4>Our Action Plan:</h4> 
As their suggestion is to have good navigation, we will take into consideration and implement the links to go back to the previous page.  We will also implement autocomplete for FOS field.  

