<h1>Problem Set 6</h1>

<h3>Evaluation</h3> 

<br><%= link_to 'Potential User evaluation',:controller => :ps6,:action => :user %> 

<br><%= link_to 'web9 evaluation',:controller => :ps6,:action => :web9 %> 

<br><%= link_to 'web8 evaluation',:controller => :ps6,:action => :web7 %>
<br>----------------------------------------------------------------------------
