<h3>Evaluation from Potential User</h3>
<h4>Review from Secretary:</h4>

<br>Siriporn Nanthasing
<br>Administrative Secretary
<br>Computer Science & Information Management (CS&IM)
<br>School of Engineering and Technology (SET).

<br><br>The activity page could have little more information like name of the topic and name of the student. They found it is easy to use and helpful for them to schedule the meetings.

<br>----------------------------------------------------------------------------
<h4>Review from Faculty:</h4>

<br>Matthew N. Dailey
<br>Computer Science & Information Management (CS&IM)
<br>Asian Institute of Technology.

<br><br>They found it is useful and suggested that google calender would be more efficient to use.


