<h4>Evaluated by Team WEB-7</h4>

<br>Admin
<br>Admin page : If the navbar is fix for every page,then it will be easier to navigate from every page.
<br> Student Registration : Auto complete might be a better option for field of study field in the form(For example: If the user type com it shows suggested option like Computer science and other fields related).

<br>- Your web page design feels good.

<br>- Authentication is working well.

<h4>Our Action Plan:</h4>
As their suggestion is to have good navigation, we will take into consideration and implement the links to go back to the previous page.  We will also implement autocomplete for FOS field.


