<h4>Evaluated by WEB-9</h4>

<br>The data model is sufficient to serve the functionalities you have proposed.

<br>By using the AIT LDAP server for authentication, it makes authentication and authorization sensible.

<br>Look and feel of this application is neat. There is no suggestion to that. As we have checked so far, students can make appointments by sending form to the registrar and the secretary will then create the appointments for them. It will be great if this application is put into use for AIT students.


<h4>Our Action Plan :</h4>
The suggestion from Web 9 are really good. We found that they feel the students should have ability to make appointments themselves. According to our knowledge the secretary sends the registration form to the registrar and when they have the approval from registrar therfore the secretary has the deadline information, that's why we think only secretary should have the ability to create the activity and particular appointment. We also feel that the student should have the access, but to our knowledge it might not be good that the student have this privilage.


