<%= image_tag("https://pi.tedcdn.com/r/pe.tedcdn.com/images/ted/0ef62e4df27b4ba7294de889fdbc33e476a08ec9_254x191.jpg?", :alt => "Steve Jobs") %>
<ul>
        <li>
        <p>Name : Steve fernandez   </p>
        </li>
        <li>
        <p>Age : 56     </p>
        </li>
        <li>
        <p>Relationship status : Married</p>
        </li>
        <li>
        <p>Nationality : U.S </p>
        </li>
        <li>
        <p>Occupation : Secretary</p>
        </li>
        <li>
        <p>Shortterm goal : To view the schedulings every faculty  </p>
        </li>
        <li>
        <p>Longterm goal : TO organize approriate timings for a particular meeti        ng  </p>
        </li>
        <li>
        <p>Hobbies :Music </p>
	</li>
</ul>
