<%= image_tag("https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAk-AAAAJDRkNTI3YmRkLWFkYWEtNDM2Mi04ZWIzLTcxZjA4ZmIyNjQ0ZQ.jpg", :alt => "name of user") %>
<ul>
	<li>
	<p>Name : Jaelse Ronald    </p>
	</li>
	<li>
	<p>Age : 22     </p>
	</li>
	<li>
	<p>Relationship status : Single</p>
	</li>
	<li>
	<p>Nationality : Indian </p>
	</li>
	<li>
	<p>Occupation : Student</p>
	</li>
	<li>
	<p>Shortterm goal : To put a request to the secretary whenever he is rea        dy for the proposal of his project  </p>
	</li>
	<li>
	<p>Longterm goal : To get the apt timing for his proposal from the commi        ty members </p>
	</li>
	<li>
	<p>Hobbies : Football  </p>
	</li>
        <li>
        <p>Usage Scenario : Student can request to the secretary for his project        proposal schedulings</p>
        </li>
</ul>
