<%= image_tag("http://www.haathichiti.com/wp-content/uploads/2016/02/Neerja-Bha.jpg", :alt => "Neerja Bhanot") %>
<ul>
        <li>
        <p>Name : Neerja Bhanot    </p>
        </li>
        <li>
        <p>Age : 22     </p>
        </li>
        <li>
        <p>Relationship status : Married</p>
        </li>
        <li>
        <p>Nationality : Indian </p>
        </li>
        <li>
        <p>Occupation : Professor</p>
        </li>
        <li>
        <p>Shortterm goal : To get a mail from the secretary to schedule his tim        ings for the meeting  </p>
        </li>
        <li>
        <p>Longterm goal : To reschedule his plan whenever their is a change wit        hout any inconsistency </p>
        </li>
        <li>
        <p>Hobbies : Singing, reading books </p>
        </li>
        <li>
        <p>Usage Scenario : To reschedule the  for the 
