<%= image_tag("https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAk-AAAAJDRkNTI3YmRkLWFkYWEtNDM2Mi04ZWIzLTcxZjA4ZmIyNjQ0ZQ.jpg", :alt => "name of user") %>
<ul>
	<li>
	<p>Name :     </p>
	</li>
	<li>
	<p>Age :      </p>
	</li>
	<li>
	<p>Relationship status :</p>
	</li>
	<li>
	<p>Nationality : </p>
	</li>
	<li>
	<p>Occupation : </p>
	</li>
	<li>
	<p>Longterm goal :  </p>
	</li>
	<li>
	<p>Shortterm goal :  </p>
	</li>
	<li>
	<p>Hobbies :  </p>
	</li>
</ul>
