<h1>Problem set 3</h1>

<h3>1.What will people be able learn about in the community that you’re building? Alternatively, if you are automating some collaborative workflow, what work willpeople accomplish with your sytem?</h3>
Both the students and faculty will come to know about the appropriate schedulingfor their meetings. Our system workflow will be:
Whenever a student is ready for his proposal he makes a request to the secretaryby giving the details of the community. The secretary puts a mail to all the respective community faculties with a link to our website. This link takes faculty to our site where they can manage their schedulings. If any changes are done in the planning by the faculty, a notification will be sent to others regarding thechange. They can again reshedule the meeting which will be relevant to all. We can export the scheduling in pdf or img file format for offline use.  

<h3>2. What do you want people to say about your service after a visit?</h3>
This website provides a common platform for the faculty and students to manage their schedulings effectively rather than doing it manually

<h3>3. What are the relevant distinct user classes?</h3> 
Relevant distinct users:

Admin: Secretary
He/She manages all the system.

Moderators: Faculty and students
They can edit their schedulings.

Users:
UG, Masters and Phd Students : They can make a request whenever they are ready for their proposal.
Teachers : They can schedule their appropriate timings for the meetings.
Secretary : He/She can handle all the system.

<h3>4. What should a user on a smartphone be able to do?</h3>
In smartphone they can access to our website and can easily schedule their meetings relevant to others.

<ul>
	<li>
	 <a href="fictious_user1">Jaelse Ronald</a>
        </li>
	<li>
	 <a href="fictious_user2">Steve Jobs</a>
	</li>
	<li>
	 <a href="fictious_user3">Neerja Bhanot</a>
	</li>
</ul>

<h3>Offline Alternatives</h3> 

Direct meeeting with the faculty or student and contact with a call or mails cangive more appropriate result without any overlappings. But this indulge in more manual work to know the apt timings and to contact everytime when their is a overlapping or change in scheduling. Our website reduces the manual work and inconvenience by showing the appropriate timings of student and faculty. 

<h3>Online Alternatives</h3>

A good alternative for scheduling plans is Google Calender. In this we can make our plans effectively. But not many of the faculty use it. It creates inconvience when they have a change in plan after the meeting is fixed. So our website provides a feature that whenever a faculty makes a change, the information is sent to others and they again can fix it accordingly to their relevant timings. 

<h3>Our Magnet Content</h3> 
1. Our website provides an efficient feature that whenever a faculty make a change in his plan, the information will be sent to others and can be fixed again to their appropriate timings. 
2. Our site will also be synced with the google calender if the faculty is using it.

Collaboration: There will be effective collaboration of faculty and student about their relevant schedulings.

Searching and browsing capabilities: All the users can search and browse for theavailability of others. 

Delegated moderation:  Both the faculty and student can give their privilage to the secretary to edit their schedulings.

Removing bozos: Faculty can stop notifications from the e-mail and can directly see the changes from the website. 

<h3>Magnet content Identification</h3> 
Our website not only provides the function of scheduling but also is collaborated with the google calender if the faculty is using it. we can export the scheduling into pdf or img file for offline purpose. A variable feature is provided in our site where it removes inconsistency whenever their is a change in the planning, i.e by sending the information to the others regarding the change and they again can fix it according to their apt timings. 

<h3>DNS:</h3> The web application domain will be www.calendarize.asia which costs 166 baht and we have decided it because this app is for the purpose of AIT community usage.

<h3>Intellectual Property Rights:</h3>
1.This website is made for being used in educational institutions.
2.Users can use the website only for the purpose of scheduling the meetings among the students and faculty.
3.You should not use this website for any purpose outside academic curriculum.
4.You should not misuse any kind of information provided by this website.  



<a href="/ps3/jenkins_output">Jenkins Output</a>
