@import "bootstrap-sprockets";
@import "bootstrap";
html, body{
  height: 100%;
}
.push{
  margin-top: 48rem;
}
.footer{
  position: relative;
  right: 0;
  bottom: 0px;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
